boto==2.45.0
boto3==1.7.22
ccxt==1.13.38
decorator==4.0.10
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.11.29
django-debug-toolbar==1.6
django-extensions==1.7.5
django-rest-swagger==2.1.2
django-storages==1.5.1
django-toolbelt==0.0.1
django-unixtimestampfield==0.3.9
djangorestframework==3.9.1
ipython==5.1.0
jsonfield==1.0.3
psycopg2-binary==2.7.6.1
pytz==2016.10
PyYAML==3.12
requests-oauthlib==0.7.0
requests==2.20.1
schedule==0.4.3
simplejson==3.11.1
six==1.11.0
toolz==0.8.2
urllib3>=1.23
waitress==1.0.2